# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
/build

# Docker
*.pid
*.log
docker-compose.override.yml

# IDE/Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db